/*.dialogWrapper {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr;*/

/*    border-right: 1px solid black;*/
/*}*/
/*.liStyle {*/
/*    margin-bottom: 10px;*/
/*}*/


.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItems {
    padding: 10px;
}
.active {
    color: gold;
}
.messages {
    padding: 10px;
}
.message {

}
.dialogsItems {

}